<a class="big-btn big-btn-blue" href="/volunteer/" target="_blank">I want to volunteer/help!</a>
<a class="big-btn big-btn-red" href="/request-help/" target="_blank">My animals need help!</a>
<a class="big-btn big-btn-yellow" href="/found-animal/" target="_blank">I found a pet/livestock!</a>
<a class="big-btn big-btn-green" href="/donate/" target="_blank">I want to donate!</a>