<footer class="site-footer">
  <div class="foot-wrap">
    <div class="flex-768">
      {# <div>
        <img width="260" src="{{ metadata.logo }}" alt="KSin Studio"><br>
        {{ metadata.title }}<br>
        {{ metadata.phone }}<br>
      </div> #}
        <div class="footer-social-icons">
            <span></span>
            <a class="footer-social-icon" href="https://www.facebook.com/ksinstudio/" target="_blank"><img src="/static/img/icons/facebook_90x90.png" alt="Follow ASSERT on Facebook" width="40"></a>
            <a class="footer-social-icon" href="https://www.instagram.com/ksin_art/" target="_blank"><img src="/static/img/icons/instagram_90x90.png" alt="Follow ASSERT on Instagram" width="40"></a>
            <span></span>
        </div>
    </div>
    <small>
      <br>© {{ metadata.title }} 2020 | Website by <a href="https://www.kylegrover.com" target="_blank">Kyle Grover</a>
    </small>
  </div>
</footer>
{% if page.url == '/donate/'%}
  <script src="https://www.paypal.com/sdk/js?client-id=XXXXXXXXXXXXXXXXXXXXX&currency=USD" data-sdk-integration-source="button-factory"></script>
  <script src="/static/js/paypal-donate.js"></script>
{% endif %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>